#set($page_name = "Edit")
#parse('common/head.vm')

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit</h1>
    </div>
</div>

<div class="row">

	<div class="col-lg-12">
        <div class="panel panel-default">
<form method='post' enctype='multipart/form-data'>	
			<div class="panel-footer">
            	<div class="form-group">
            	
				    <label for="select-mapping">Select Mapping</label>
				    <div class="input-group">
				    <select class="form-control" id="select-mapping" name='selected_mapping'>
				      #foreach( $mapping-name in $mappings )
					    <option>$mapping-name</option>
					  #end
				    </select>
				    				
				    
				        <div class="input-group-btn">
                            		<button class="btn btn-primary" id="btn-filter-$column"><i class="glyphicon glyphicon-search"></i></button>
                        		</div>
                    		</div>			
    				<table class="table">
    				<thead>
    					<tr>
    					#foreach( $column in $columns )
    					<th>
					    	<div class="input-group">
                        		<input type="text" class="form-control" id="text-filter-$column" placeholder="Filter">
                        		<div class="input-group-btn">
                            		<button class="btn btn-primary" id="btn-filter-$column"><i class="glyphicon glyphicon-search"></i></button>
                        		</div>
                    		</div>
                    		</th>
					  	#end
					  	<th></th>
    					</tr>
    					<tr>
    					#foreach( $column in $columns )
					    	<th>$column</th>
					  	#end
					  	<th>Edit</th>
    					</tr>
    					</thead>
  						<tbody>
    					#foreach( $row in $rows )
    					<tr>
    						#foreach( $cell in $row )
    						<td>$cell</td>
    						#end
    						<td><button type+"button" class="btn btn-primary">Edit</button></td>
    					</tr>
    					#end
    					  </tbody>
    				</table>
    				</form>
				</div>
				
				
                    
            </div>
            
        </div>
    </div>
    
</div>

#parse('common/foot.vm')